.nav-header{
	height:2rem;
	width:100%;
	border-bottom:1px solid grey;
}


nav{
   margin-bottom:1.1rem;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0;
    padding-left: 1.1rem;
}



.knockout{
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
    background-image: url('http://res.cloudinary.com/dus4sijdt/image/upload/v1522529064/photo-1515462277126-2dd0c162007a_n73vml.jpg');
    background-attachment: fixed;
    z-index: 999;
}

ol li {
	margin-bottom:1.1rem
}

.shift{
	margin-right:0.777rem;
}


.text-center{
	text-align:center;
}